<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="es.rczone.simonsays"
    android:versionCode="1"
    android:versionName="1.0"
    android:installLocation="preferExternal" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />
    
    
    <uses-permission android:name="android.permission.INTERNET" />
 
    <!-- GCM requires a Google account. -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
 
    <!-- Keeps the processor from sleeping when a message is received. -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
 
    <!-- Creates a custom permission so only this app can receive its messages. -->
    <permission
        android:name="es.rczone.simonsays.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
 
    <uses-permission android:name="es.rczone.simonsays.permission.C2D_MESSAGE" />
 
    <!-- This app has permission to register and receive data message. -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
 
    <!-- Network State Permissions to detect Internet status -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
 
    <!-- Permission to vibrate -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".MemorizeApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="es.rczone.simonsays.activities.Splash"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
			android:configChanges="keyboard|keyboardHidden|orientation|screenSize|smallestScreenSize"
			android:theme="@style/AppTheme"> >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="es.rczone.simonsays.activities.Register"
            android:label="@string/app_name" 
            android:screenOrientation="portrait"
			android:configChanges="keyboard|keyboardHidden|orientation|screenSize|smallestScreenSize"
			android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
    		android:name="es.rczone.simonsays.activities.Login"
            android:label="@string/app_name" 
            android:screenOrientation="portrait"
			android:configChanges="keyboard|keyboardHidden|orientation|screenSize|smallestScreenSize"
			android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="es.rczone.simonsays.activities.MainMenu"
            android:label="@string/app_name" 
            android:screenOrientation="portrait"
			android:configChanges="keyboard|keyboardHidden|orientation|screenSize|smallestScreenSize"
			android:theme="@style/AppTheme">
        </activity>
        
        <activity
            android:name="es.rczone.simonsays.activities.Profile"
            android:label="@string/app_name" 
            android:screenOrientation="portrait"
			android:configChanges="keyboard|keyboardHidden|orientation|screenSize|smallestScreenSize"
			android:theme="@style/AppTheme">
        </activity>
        
        <activity
            android:name="es.rczone.simonsays.activities.Friends"
            android:label="@string/app_name" 
            android:screenOrientation="portrait"
			android:configChanges="keyboard|keyboardHidden|orientation|screenSize|smallestScreenSize"
			android:theme="@style/AppTheme">
        </activity>
        
        <activity
            android:name="es.rczone.simonsays.activities.NewGame"
            android:label="@string/app_name" 
            android:screenOrientation="portrait"
			android:configChanges="keyboard|keyboardHidden|orientation|screenSize|smallestScreenSize"
			android:theme="@style/AppTheme">
        </activity>
        
        <activity
            android:name="es.rczone.simonsays.activities.Games"
            android:label="@string/app_name" 
            android:screenOrientation="portrait"
			android:configChanges="keyboard|keyboardHidden|orientation|screenSize|smallestScreenSize"
			android:theme="@style/AppTheme">
        </activity>
        
        <activity
    		android:name="es.rczone.simonsays.activities.Board"
            android:label="@string/app_name" 
            android:screenOrientation="portrait"
			android:configChanges="keyboard|keyboardHidden|orientation|screenSize|smallestScreenSize"
			android:theme="@style/AppTheme">
        </activity>
        
        <activity android:name="es.rczone.simonsays.activities.Tutorial" android:label="@string/app_name" android:theme="@android:style/Theme.Dialog"></activity>
        
        <receiver
            android:name="com.google.android.gcm.GCMBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
 
                <!-- Receives the actual messages. -->
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <!-- Receives the registration id. -->
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
 
                <category android:name="es.rczone.simonsays" />
            </intent-filter>
        </receiver>
 
        <service android:name=".GCMIntentService" />
    </application>

</manifest>